body {
  /*background-color: powderblue;*/
  font-family: 'Indie Flower', cursive;
}
h1 {

}
p {

}
.chart-header {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}
.query {
    background-color: powderblue;
    /*line-height: 738px;*/
    font-size: 20px;
}
.tr-em, .he-wa, .hi-he-wa, .tr-em-1-col, .free-em, .tr-em-odd-even {
/*    line-height: 738px; */ 
  margin-top: 369px;
  height: 100px;
  }
.tr-em-each {
  line-height: 100px;

}
.main-grid {
  border-style: solid;
}
.secondary-grid_1, .secondary-grid_2, .secondary-grid_3, .secondary-grid_4, .secondary-grid_5 {
  /*border-style: solid;*/
  margin: 0.6px;
}
.secondary-grid{
  height: 122.4px;
}
.separator {
  background-color:  powderblue;
}
.organs {
  height: 100%;
  /*background-color:   lightgreen;*/
}
.organ-row {
  line-height: 122.4px;font-size:20px
}
.odd {
  background-color:  #d3d3d340;
}

.hide {
  display: none;
}

#back-chart a {

  text-decoration: none;
  color: black;

}
.odd-or-even-row {
  line-height: 122.4px;
}

.highlights {
  border-style :5px,
  border-color : powderblue,
  font-size: 40px;

}
.last-chosen-1, .last-chosen-2, .last-chosen-3, .last-chosen-4, .last-chosen-5 {

    background-color: white;
    margin: 1px;

}

@media screen and (max-width: 992px) {

  body{
    font-size: 16px;
  }
  .primary-grid-1, .primary-grid-2, .primary-grid-3, .primary-grid-4, .primary-grid-5, .primary-grid-6 {
    height: 312px;
    font-size:26px;
    margin: 5px
  }
  button {
    height:100px;
    width:100px;
    margin-top:20px;
    font-size:35px!important
  
  }
  .col-3.query{
    font-size: 35px;
  }
  .container {
    height: 2000px;
  }
  .organs{
    display: none;
  }
.secondary-grid_1, .secondary-grid_2, .secondary-grid_3, .secondary-grid_4, .secondary-grid_5 {
  /*border-style: solid;*/
  margin: 0.6px;
  line-height: 2.38;
}
.tr-em, .he-wa, .hi-he-wa, .tr-em-1-col, .free-em, .tr-em-odd-even {
/*    line-height: 738px; */ 
  margin-top: 700px;
  height: 100px;
  }
  .odd-or-even-row {
    font-size: 24px;
    height: 99px;
    line-height: 10.6 !important;
  }
  .secondary-grid.odd-organ{
  height: 280px;
  margin-top:12px;
 
  }
  .secondary-grid.even-organ{
  height: 280px;
  margin-top:12px;
  
  }  

  .odd-organ{

    height: 50px;

  }

  .even-organ{

    height: 50px;

  }
  .odd-or-even-row {
      line-height: 50.4px;
  }
  .highlights {

    border-width: 7px!important;

  }

}

@media screen and (max-width: 600px) {

  body{
    font-size: 16px;
  }
.tr-em, .he-wa, .hi-he-wa, .tr-em-1-col, .free-em, .tr-em-odd-even {
/*    line-height: 738px; */ 
  margin-top: 150px;
  height: 60px;
  }

.tr-em-each {
  
  margin-top: 0;
  font-size: 16px;
  height: 2;
  line-height: 2;

}

  .odd-or-even-row {
    font-size: 16px;
    height: 40px;
    line-height: 4 !important;
  }

  .secondary-grid.even-organ, .secondary-grid.odd-organ {

    height: 135px;

  }
/*  #yes-tr-em-each.btn.btn-light{
    margin-top: -140px;

  }
  #no-tr-em-each.btn.btn-light{
    margin-top: -30px;

  }
  #back-chart.btn.btn-light{
    margin-top: -14px;

  }*/


}
