body {
  /*background-color: powderblue;*/
  font-family: 'Indie Flower', cursive;
}
h1 {

}
p {

}
.chart-header {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}
.query {
    background-color: powderblue;
    /*line-height: 738px;*/
    font-size: 20px;
}
.tr-em, .he-wa, .hi-he-wa, .tr-em-1-col, .free-em, .tr-em-odd-even {
/*    line-height: 738px; */ 
  margin-top: 369px;
  height: 100px;
  }
.tr-em-each {
  line-height: 100px;

}
.main-grid {
  border-style: solid;
}
.secondary-grid_1, .secondary-grid_2, .secondary-grid_3, .secondary-grid_4, .secondary-grid_5 {
  /*border-style: solid;*/
  margin: 0.6px;
}
.separator {
  background-color:  powderblue;
}
.organs {
  height: 100%;
  /*background-color:   lightgreen;*/
}
.organ-row {
  line-height: 122.4px;font-size:20px
}
.odd {
  background-color:  #d3d3d340;
}

.hide {
  display: none;
}

#back-chart a {

  text-decoration: none;
  color: black;

}
.odd-or-even-row {
  line-height: 122.4px;
}

.highlights {
  border-style :solid,
  border-color : powderblue,
  font-size: 40px;

}
.last-chosen-1, .last-chosen-2, .last-chosen-3, .last-chosen-4, .last-chosen-5 {

    background-color: white;
    margin: 1px;

}